:host {
    width: 100%;

    ul {
        padding: 0;
        overflow: hidden;
        list-style: none;
        height: 100%;
        margin: 0;
        li {
            width: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.5s;
            height: 100%;
            background-size: cover;
            background-position: center center;
            display: inline-block;
            &.active {
                visibility: visible;
                opacity: 1;
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 800px) {
        ul {
            height: 350px !important;
        }
    }
    @media screen and (max-width: 640px) {
        ul {
            height: 200px !important;
            margin-top: 50px;
        }
    }
}
