:host {
  width: 100%;
  ul {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    margin-top: 50px;
    height: 450px;
    li {
      position: absolute;
      width: 100%;
      visibility: hidden;
      opacity: 0;
      transition: all 0.5s;
      height: 100%;
      background-size: cover;
      background-position: center center;
      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  @media screen and (max-width: 800px) {
    ul {
      margin-top: 50px;
      height: 350px !important;
    }
  }
  @media screen and (max-width: 640px) {
    ul {
      margin-top: 50px;
      height: 250px !important;
    }
  }
}
