@import '../shared/styles/colors.scss';
:host {
  position: relative;
  min-height: 500px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  ::ng-deep main {
    padding: 1em 1.5em;
    text-align: center;
    @media screen and (min-width: 410px) {
      article p {
        font-size: 1.1em;
      }    
    }
  }
  ::ng-deep ul.submenu{
    list-style: none;
    margin: 1em 0em 1em 0em;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    li {
      padding: 0.3em;
      padding-bottom: 0.7em;
      margin: 0 0.6em;
      white-space: nowrap;
      a {
        color: $primary;
        font-weight: 600;
        padding-bottom: 0.4em;
        transition: all 0.2s;
        border-bottom: 2px solid transparent;
        &:hover,
        &.selected {
          color: $active;
          border-bottom: 2px solid $active;
        }
      }
    }
  }
}
