@import '../shared/styles/colors.scss';
:host {
    width: 100%;
  min-height: 500px;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  ::ng-deep main {
    padding: 1em 1.5em;
    text-align: center;
    @media screen and (min-width: 410px) {
      article p {
        font-size: 1.1em;
      }
    }
  }
}
