<nav class="nav-bar" [class.opened]="open" [class.expanded]="expanded">
    <div class="logo-container">
        <img
            [ngSrc]="logoUrl$ | async"
            height="100"
            width="260"
            class="tdt"
            routerLink="/"
            alt="logo"
        />
        <div class="event-date">
            <div class="day">{{ day$ | async }}</div>
            <div class="month">{{ month$ | async }}</div>
            <div class="year">{{ year$ | async }}</div>
        </div>
        <a
            class="logo tuc"
            aria-label="lien TUC Triathlon"
            href="https://www.tuc-triathlon.com"
            target="_blank"
        ></a>
    </div>
    <ul class="nav-menu">
        <li [hidden]="open">
            <a routerLink="/"><i class="icon material-icons">home</i></a>
        </li>
        @for (page of pages$ | async; track $index) {
            <li>
                @if (page.url.startsWith('http')) {
                    <a
                        class="nav-item external-link"
                        target="_blank"
                        [attr.href]="page.url"
                        >{{ page.page_name }}</a
                    >
                } @else if ((getSubpages(page.id) | async).length > 0 && !page.url.startsWith('courses')) {
                    <button
                        class="nav-item dropdown"
                        (click)="toggleSubmenu(page.url)"
                    >
                        {{ page.page_name }}
                        @if (activeSubmenu() === page.url) {
                            <i class="icon material-icons">expand_more</i>
                        } @else {
                            <i class="icon material-icons">expand_less</i>
                        }
                    </button>
                    <ul class="submenu" [class.active]="activeSubmenu() === page.url">
                        @for (subpage of getSubpages(page.id) | async; track subpage.id) {
                            <li>
                                @if (subpage.url.startsWith('http')) {
                                    <a
                                        class="nav-item external-link"
                                        target="_blank"
                                        [attr.href]="subpage.url"
                                    >{{ subpage.page_name }}</a
                                    >
                                } @else {
                                    <a
                                        class="nav-item"
                                        routerLinkActive="selected"
                                        [routerLink]="subpage.url"
                                        (click)="open = !open">{{ subpage.page_name }}</a>
                                }
                            </li>
                        }

                    </ul>

                } @else {
                    <a
                        class="nav-item internal-link"
                        routerLinkActive="selected"
                        [routerLink]="page.url"
                        (click)="open = !open"
                        >{{ page.page_name }}</a
                    >
                }
            </li>
        }
    </ul>
    <ul class="social">
        <li *ngIf="(config$ | async)?.facebook_url">
            <a
                class="facebook"
                target="_blank"
                href="{{ (config$ | async)?.facebook_url }}"
                aria-label="facebook"
            ></a>
        </li>
        <li *ngIf="(config$ | async)?.twitter_url">
            <a
                class="twitter"
                target="_blank"
                href="{{ (config$ | async)?.twitter_url }}"
                aria-label="twitter"
            ></a>
        </li>
        <li *ngIf="(config$ | async)?.linkedin_url">
            <a
                class="linkedin"
                target="_blank"
                href="{{ (config$ | async)?.linkedin_url }}"
                aria-label="twitter"
            ></a>
        </li>
        <li *ngIf="(config$ | async)?.instagram_url">
            <a
                class="instagram"
                target="_blank"
                href="{{ (config$ | async)?.instagram_url }}"
                aria-label="instagram"
            ></a>
        </li>
    </ul>
    <div class="menu">
        <i class="material-icons" (click)="open = !open">menu</i>
    </div>
</nav>
