<tdt-submenu></tdt-submenu>
<main>
  <article *ngFor="let article of (articles$ | async)">
    <h2 [hidden]="!article.titre">{{article?.titre}}</h2>
    <h4 [hidden]="!article.date">{{article?.date}}</h4>
    <p [hidden]="!article.description" [innerHtml]="article?.description | safeHtml"></p>
    <div class="media" *ngIf="article?.url_video">
      <iframe *ngIf="article?.url_video" height="100%" width="100%" [src]="article.url_video | safeUrl" frameborder="0" allowfullscreen></iframe>
    </div>
    <img *ngIf="article?.image" [src]="article.image.data.url" />   
  </article>
</main>
