:host {
    display: flex;
    flex-direction: column;
    text-align: center;
    ::ng-deep img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 400px;
    }
    .article-date {
        margin: -1.3em 0 1em 0.2em;
        font-size: 1.1em;
        opacity: .7;
        font-weight: 200;
        text-align: center;
    }
    .media {
        position: relative;
        height: 0;
        padding-bottom: 56.25%;
        iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: none;
        }
    }
}
