$primary: #3F51B5; // #2974B5;
$secondary: #6371FE; //#def0ff;
$active: #93C955;
$focus: #FFE800;

$green: #93C955;
$orange: #F36C22;
$blue: #00AEEF;

$black: #111111;
$white: #FFFFFF;
$icon: #888888;

$headerBackground: $primary;
$headerColor: $white;
$headerActive: $active;

$footerBackground: $secondary;
$footerColor: $white;
