$primary: var(--primary-color, #3F51B5);
$primaryTextColor: var(--primary-text-color, #FFFFFF);
$secondary: var(--secondary-color, #FFEB13);
$secondaryTextColor: var(--secondary-text-color, #111111);

$warn: #8F0808;

$black: #111111;
$white: #FFFFFF;
$icon: #888888;

